version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: backendfirebase
      POSTGRES_USER: dbeaver
      POSTGRES_PASSWORD: admin
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5430:5432"

  backend:
    build:
      context: ./backend
    depends_on:
      - db
    environment:
      DATABASE_URL: jdbc:postgresql://db:5432/backendfirebase
      DB_USER: dbeaver
      DB_PASS: admin
      JWT_SECRET: "salut c'est moi la cle secrete"
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE: http://backend:8080
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db-data:
